@model MVC.Budget.K_MYR.Models.Category;

<section id="category-modals">
    <div class="modal fade" id="addCategory-modal" tabindex="-1" aria-labelledby="add-category-label" aria-hidden="true" aria-modal="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-truncate text-center flex-grow-1" id="add-category-label">Add Category</h4>
                    <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="addCategory-form" method="post">
                        <input type="hidden" asp-for="FiscalPlanId" value="" id="addCategory_fiscalPlanId" />
                        <input type="hidden" asp-for="CategoryType" value="" id="addCategory_type" name="type" />
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" autocomplete="off" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Budget" class="control-label"></label>
                            <input asp-for="Budget" class="form-control" />
                            <span asp-validation-for="Budget" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-3 d-flex align-items-center justify-content-center">
                            <input type="submit" value="Add" class="px-4 submit-btn" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="updateCategory-modal" tabindex="-1" aria-labelledby="updateCategory-label" aria-hidden="true" aria-modal="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-truncate text-center flex-grow-1" id="updateCategory-label"></h4>
                    <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="updateCategory-form" method="post">
                        <input type="hidden" asp-for="FiscalPlanId" value="" id="updateCategory_fiscalPlanId" />
                        <input type="hidden" asp-for="Id" value="" id="updateCategory_id"/>
                        <input type="hidden" asp-for="CategoryType" value="" id="updateCategory_type" name="Type" />
                        <input type="hidden" value ="" id="updateCategory_month"/>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" id="updateCategory_name" autocomplete="off" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Budget" class="control-label"></label>
                            <input asp-for="Budget" class="form-control" id="updateCategory_budget" />
                            <span asp-validation-for="Budget" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-3 d-flex align-items-center justify-content-center">
                            <input type="submit" value="Edit" class="px-4 submit-btn" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteCategory-modal" tabindex="-1" aria-labelledby="deleteCategory-label" aria-hidden="true" aria-modal="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-truncate text-center flex-grow-1" id="deleteCategory-label"></h4>
                    <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        Deleting this category will permanently remove all its associated transactions. This action cannot be undone.
                        Are you sure you want to delete it?
                    </p>
                    <form id="deleteCategory-form" method="post">
                        <input type="hidden" asp-for="Id" value="" id="deleteCategory_id" />
                        <input type="hidden" asp-for="CategoryType" value="" id="deleteCategory_type" name="Type" />
                        <div class="form-group mt-3 d-flex align-items-center justify-content-center">
                            <input type="submit" value="Delete" class="px-4 submit-btn" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
