html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.buttons{
    margin-bottom: 75px;
}

    .buttons .btn.btn-success {
        height: 38px;
        margin-right: 12px;
        margin-bottom: -21px;
    }
.buttons select{
    width: 300px;
    
}

.buttoncontainer {
    display: inline-block;
    position: relative;
    left: 25%;
    transform: translateX(-50%);
    margin-top: 60px;
    margin-right: 150px;
    border-radius: 20px;
    border: 1.5px solid green;
    padding: 15px;
    text-align: center;
    width: 494.167px;
}

.buttoncontainer table {
    width: 100%;
    border-spacing: 100px;
}

    .buttoncontainer table th,
    .buttoncontainer table td {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 30px;
        padding-right: 30px;
        margin: 100px;
        inline-size: 150px;
        overflow-wrap: break-word;
    }

.buttoncontainer table th {
    border-bottom: 1px solid white;
}

.buttoncontainer table td {
    border-bottom: 1px solid green;
}

.buttoncontainer table tbody tr:last-child td {
    border-bottom: none;
}

.buttoncontainer .btn.btn-outline-success {
    inline-size: 200px;
    overflow-wrap: break-word;
    display: inline-block;
}

.buttoncontainer .btn.btn-success {
    inline-size: 200px;
    overflow-wrap: break-word;
    display: inline-block;
}

.form-group small{
    position: relative;
    bottom: 10px;
}

.modal-body form .form-group label {
    margin-top: 10px;
    margin-bottom: 20px;
}

#spendingsByDateForm{
    margin-top: -100px;
    margin-bottom: 30px;
}

#search{
    margin-top: -12px;
}

.category-image {
    width: 75px;
    height: 75px;
}

.select-container{
    margin-top: -31px;
    margin-left: 700px;
}

.selectcurrencyform {
    display: flex;
    margin-top: -13px;
    margin-right: 100px;
}

.selectcurrencyform select{
    width: 400px;
    height: 40px;
    margin-top: 11px;
    margin-right: 10px;
}

#transactionsearch{
    margin-top: -10px;
    margin-left: 79px;
}

.break-word {
    inline-size: 450px;
    word-break: break-word;
}



.buttons.d-flex input {
    position: relative;
    left: 155px;
}

.buttons.d-flex small{
    position: relative;
    left: 155px;
    bottom: 18px;

}

#submit {
    margin-right: 30px;
}

.text-danger span{
    position: relative;
}

#transactions{
    margin-bottom: -30px;
}

.errorNotification{
    color: red;
}

#categoryErrorNotification{
    margin-top: -55px;
}

#transactionErrorNotification{
    margin-top: 22px;
}