$prefix: bs-;
$primary: #020403;
$secondary: #475456;
$body-color: white;
$body-bg: white;
$borderWidth: 4px;
$border-radius: 10px;
$small-screen-query: 576px;
$big-screen-query: 1400px;
$box-shadow: rgba(0, 0, 0, 0.17) 2px 2px 5px 2px;
$headings-margin-bottom: 0;
$text-color: white;

$accordion-bg: $secondary;
$accordion-button-active-bg: $secondary;
$accordion-button-active-color: white;
$accordion-icon-active-color: white;
$accordion-body-padding-y: 8px;
$accordion-body-padding-x: 10px;
$accordion-border-radius: $border-radius;
$accordion-button-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 15' fill='white'%3E%3Cdefs%3E%3CradialGradient id='gradient1' x1='0' x2='1' y1='0' y2='1'%3E%3Cstop offset='0%25' stop-color='%23CCFBE5' /%3E%3Cstop offset='50%25' stop-color='%23A2D6CB' /%3E%3Cstop offset='100%25' stop-color='%237EB1B1' /%3E%3C/radialGradient%3E%3C/defs%3E%3Cpath fill='url(%23gradient1)' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
$accordion-icon-width: 20px;
$accordion-icon-transition: transform 0.3s ease-in-out;

$navbar-light-color: white;
$navbar-light-brand-color: white;

$table-color: white;
$table-bg: $secondary;
$pagination-bg: white;
$pagination-disabled-color: #BDC3C7;

$modal-content-bg: $secondary;

$spinner-width: calc(15px + var(--i) * 5px);
$spinner-height: $spinner-width;
$spinner-vertical-align: -.125em;
$spinner-animation-speed: 1.25s;

$tooltip-bg: $body-bg;
$tooltip-color: $secondary;
$tooltip-opacity: .95;
