@model UpsertTransactionViewModel

<div class="form-floating mb-3">
    <input asp-for="Transaction!.Amount" type="number" class="form-control" />
    <label asp-for="Transaction!.Amount"></label>
    <span asp-validation-for="Transaction!.Amount" class="text-danger" />
</div>
<div class="form-floating mb-3">
    <input asp-for="Transaction!.Description" type="text" class="form-control" />
    <label asp-for="Transaction!.Description"></label>
    <span asp-validation-for="Transaction!.Description" class="text-danger" />
</div>
<div class="form-floating mb-3">
    <input asp-for="Transaction!.Date" type="date" class="form-control" />
    <label asp-for="Transaction!.Date"></label>
    <span asp-validation-for="Transaction!.Date" class="text-danger" />
</div>
<div class="form-floating mb-3">
    <select class="form-select" asp-for="Transaction!.CategoryId" asp-items="Model.AllCategories">
    </select>
    <label>Category</label>
    <span asp-validation-for="Transaction!.Category" class="text-danger" />
</div>

<span class="error-message text-danger"></span>