html {
    font-size: 14px;
}

@media (min-width: 280px) {
    html {
        font-size: 6px;
    }
}

@media (min-width: 320px) {
    html {
        font-size: 7px;
    }
}

@media (min-width: 375px) {
    html {
        font-size: 8px;
    }
}

@media (min-width: 425px) {
    html {
        font-size: 10px;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 14px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

nav, footer, .transaction-list-row, .transaction-list-head {
    background-color: #EDF4F2;
}

.transaction-list-row {
    border-bottom: 15px solid white;
}

#page-container {
    position: relative;
    min-height: 100%;
}

#content-wrap {
    padding-bottom: 2.5rem;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    padding: 5px 0;
}

h4 {
    border-bottom: 5px solid #198754;
    padding-bottom: 1rem;
}

div.modal-content{
    background-color: #EDF4F2;
}