//Variables
$primary: #020403;
$secondary: #1c1c1c;

$body-bg: $primary;
$body-color: white;

$accordion-bg: $secondary;
$accordion-button-active-bg: $secondary;
$accordion-button-active-color: white;
$accordion-icon-active-color: white;

//Import Bootstrap
@import "../lib/node_modules/bootstrap/scss/bootstrap";

// --- Custom Styles ---

body {    
    color: white;
}

//Sidebar

.sidebar {
    z-index: 1;
    background-color: #198754;
    position: fixed;
    right: 0px;
    height: 100%;
    overflow: hidden;
    display: flex;
}

.sidebar-container {
    margin: 1rem 0 0 0;
    width: 200px;
    opacity: 1;
    transition: width ease 0.5s, opacity ease-in 0.5s;
}

.sidebar-caret {
    margin-top: auto;
    margin-bottom: auto;
    transform: rotate(270deg);
    transition: transform linear 0.5s;
}

.sidebar li {
    list-style-type: none;
    white-space: nowrap;
}

.collapsed > .sidebar-container{
    width: 0;
    opacity: 0;
}

.collapsed > .sidebar-caret {
    transform: rotate(90deg);
}

// Menu wheel
#menu-container {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-out 0.4s, visibility 0.2s ease-out 0.4s;
    z-index: 1000;
}

#menu-container.active {
    transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
    visibility: visible;
    opacity: 1;
}

.menu {
    position: relative;
    height: 200px;
    width: 200px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.toggle {
    position: absolute;
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 3px 4px rgba(0,0,0,0.15);
    font-size: 2em;
    color: black;
    background-color: rgba(255, 255, 255, 1);
}

#menu-container .span-box {
    position: absolute;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 1);
    transform-origin: 100px;
    transition: transform 0.4s ease;
    transform: rotate(0deg) translateX(80px);
}

#menu-container.active .span-box {
    transform: rotate(calc(360deg / 4 * var(--i)));
    transition: transform 0.4s ease 0.2s;
}

.menu .span-box svg {
    transform: rotate(calc(360deg / -4 * var(--i)));
    width: 30px;
    height: 30px;
    color: black;
}

.menu .plus {
    width: 40px !important;
    height: 40px !important;
}

// Dashboard

.dashboard {
    border-radius: var(--bs-border-radius);
}

.accordion {
    cursor: pointer;
}

.accordion-header {
    padding: 7px 5px 5px 10px;
}

.accordion-caret {
    transform: none;
    flex-shrink: 0;
    width: var(--bs-accordion-btn-icon-width);
    height: var(--bs-accordion-btn-icon-width);
    margin: auto 7px auto 10px;
    content: "";
    background-image: var(--bs-accordion-btn-icon);
    background-repeat: no-repeat;
    background-size: var(--bs-accordion-btn-icon-width);
    transition: var(--bs-accordion-btn-icon-transition);
}

.rotate {
    transform: rotate(180deg);    
}

// Category 

.border-container {
    position: relative;
    z-index: 0;
    padding: 2px;
    overflow: hidden;
    border-radius: 10px;
}

.content {
    position: relative;
    z-index: 10;
    padding: 10px;
    border-radius: 10px;
    background-color: $secondary;
}

.category-body {    
    background-color: $secondary;
}

.border-animation {
    position: absolute;
    left: 0;
    top: 15%;
    content: "";
    z-index: 0;
    width: 100%;
    height: 70%;
    opacity: 0;
    transition: opacity .5s ease-in;    
}

.border-rotate {
    background: radial-gradient(circle, rgba(74,1,105,1) 0%, rgba(0,44,255,1) 50%, rgba(163,23,23,1) 100%);
    animation: rotate 4s cubic-bezier(.8, 0, 0.2, 1) infinite;
    opacity: 1;
}

.progress {
    position: relative;
    z-index: 10;
    height: 0.5rem;
}

.rotate {
    transform: rotate(180deg);
}

@keyframes rotate {
    
    from {
        transform:rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}