@model MainViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div id="filterForm">
    @await Html.PartialAsync("~/Views/Home/_FilterFormPartial.cshtml", new FilterModel())
</div>

<div class="container flex">
    <div class="col-2">
        <p><i class="bi bi-wallet2"></i>: @Model.UserWallets.Select(s => s.Name).FirstOrDefault()</p>
        Amount : @Model.UserWallets.Select(s => s.Amount).FirstOrDefault()
    </div>
    <div class="row" id="Transactions">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Transaction Name
                        </th>
                        <th>
                            Transaction Description
                        </th>
                        <th>
                            Transferred Amount
                        </th>
                        <th>
                            Transaction Date
                        </th>
                        <th>
                            Category
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <partial name="_TransactionListPartial.cshtml" model="Model" />
                </tbody>
            </table>
        </div>
    </div>
</div>

<partial name="_AddCategoryPartial.cshtml" model="new Category()" />
<div id="view-categories">
    <partial name="_ListCategoriesPartial.cshtml" model="Model" />
</div>
<partial name="_CreateTransactionPartial.cshtml" model="new Transaction()" />
<div id="edit-category">
    <partial name="_EditCategoryPartial.cshtml" model="new Category()" />
</div>
<div id="edit-transaction">
    <partial name="_EditTransactionPartial.cshtml" model="new EditTransactionDTO()" />
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}