@model Category;

@{
    ViewData["Title"] = "Category";
}


<div class="dashboard border mt-3" style="background-color: #1c1c1c">
    <div class="d-flex justify-content-evenly">
        <div class="m-4" style="width: 300px;"><canvas id="chart"></canvas></div>
        <div class="m-4"  style="width: 300px;"><canvas id="chart2"></canvas></div>
    </div>       
</div>

   

@section Scripts {
    @{
        <script src="~/lib/node_modules/chart.js/dist/chart.umd.js"></script>
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
