@using System.Globalization
@model LayoutModel<Budget>

@{
    ViewData["Title"] = "Budgets";
}

<div class="content-outer-container" id="budgets-container">
    <div class="p-3">
        <button>Add Budget</button>
    </div>
    <div class="content-scrollcontainer">
        <div class="content-container">
            <div class="bg-secondary p-3" style="height: 100px; width: 100%;">
                <h5 class="text-center">My Budget</h5>

            </div>
        </div>
    </div>
</div>
