@using System.Globalization
@model LayoutModel<FiscalPlan>

@section Stylesheets {
    @{
        <link rel="stylesheet" href="~/dist/styles-index~index1.css" asp-append-version="true" />
    }
}

@{
    ViewData["Title"] = "Budgets";
}

<div class="content-outer-container" id="fiscalPlans-container">
    <div class="content-scrollcontainer">
        <div class="content-container">
            <div class="cards-container">
                <div class="fiscalPlan-card">
                    <h4 class="text-center">My Budget</h4>
                    <div>April 2024</div>
                    <div class="ms-4">
                        <div>Available: € 650</div>
                        <div>Spent: € 350</div>
                        <div>Overspending: € 30</div>
                    </div>
                </div>                
                <div id="add-fiscalPlan-card" class="add-fiscalPlan-card">
                    <svg viewBox="0 0 14 14" height="23" width="23">
                        <g id="plus">                            
                            <path  fill-rule="evenodd" d="M8 1a1 1 0 0 0 -2 0v5H1a1 1 0 0 0 0 2h5v5a1 1 0 1 0 2 0V8h5a1 1 0 1 0 0 -2H8V1Z" clip-rule="evenodd" stroke-width="1"></path>
                        </g>
                    </svg>
                </div>
            </div>            
        </div>
    </div>
</div>

@await Html.PartialAsync("_FiscalPlanModals", Model.PageModel)

@section Scripts {
    @{
        <script src="~/dist/vendors-index~index1.js" asp-append-version="true"></script>
        <script src="~/dist/index1.js" asp-append-version="true"></script>
    }
}
