html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


@keyframes flash {
    0%, 50% {
        opacity: 1;
    }

    25%, 75% {
        opacity: 0;
    }
}

.create-link:hover {
    animation: flash 1s infinite;
}

