@model HomeViewModel

<div class="modal-content">
    <form asp-action="AddCategory" id="AddCategoryForm" method="post" role="form">
        <div class="modal-header">
            <h5 class="modal-title">Category</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <input type="hidden" asp-for="AddCategory.Id" class="form-control" />
            <div class="form-floating">
                <input asp-for="AddCategory.Name" class="form-control category-name-input" />
                <label asp-for="AddCategory.Name" class="control-label"></label>
                <span asp-validation-for="AddCategory.Name" class="text-danger category-name-validator"></span>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" id="AddCategoryBtn">Save</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        </div>
    </form>

</div>