<div class="modal-content">
    <form asp-action="DeleteCategory" id="DeleteCategoryForm" method="post" role="form">
        <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <input type="hidden" id="DeleteCategoryId" class="form-control" name="id"/>
            <p class="text-danger fs-3">Are you sure you want to delete this category?</p>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-danger" >Delete</button>
            <button type="button" class="btn btn-success" data-bs-dismiss="modal">Cancel</button>
        </div>
    </form>
</div>
