@model HomeViewModel

<form asp-action="Index" method="post">
    <div class="d-flex align-items-center justify-content-start flex-wrap">
        <div class="form-floating ms-2">
            <select asp-for="FilterParams.CategoryId" class="form-select" placeholder="Category">
                <option value="0">Category</option>
                @foreach (var category in Model.Categories)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </select>
            <label asp-for="FilterParams.CategoryId" class="control-label"></label>
            <span asp-validation-for="FilterParams.CategoryId" class="text-danger"></span>
        </div>

        <div class="form-floating ms-2">
            <input asp-for="FilterParams.StartDate" class="form-control" value="0" />
            <label asp-for="FilterParams.StartDate" class="control-label"></label>
            <span asp-validation-for="FilterParams.StartDate" class="text-danger"></span>
        </div>

        <div class="form-floating ms-2">
            <input asp-for="FilterParams.EndDate" class="form-control" value="0"/>
            <label asp-for="FilterParams.EndDate" class="control-label"></label>
            <span asp-validation-for="FilterParams.EndDate" class="text-danger"></span>
        </div>

       <button type="submit" class="btn btn-primary ms-3" id="FilterBtn">Filter</button>
    </div>
</form>
