@model Budget.hasona23.Models.CategoryModel

<div class="modal-header">
    <h5 class="modal-title">Confirm Delete</h5>
    
</div>
<form id="deleteForm">
    <p hidden="hidden">@Html.AntiForgeryToken();</p>
    <input type="hidden" name="Id" value="@Model.Id"/>
    <div class="modal-body">
        <p>Are you sure you want to delete this product?</p>
        <dl class="row">
            <dt class="col-sm-4">Name</dt>
            <dd class="col-sm-8">@Model.Name</dd>
        </dl>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="$('#deleteModal').modal('hide');">Cancel</button>
        <button type="submit" class="btn btn-danger">Confirm Delete</button>
    </div>
</form>

<script>
    $('#deleteForm').on('submit', function(e) {
        e.preventDefault();
        var form = $(this);
        var token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '@Url.Action("Delete", "Category")',
            type: 'POST',
            data: $(this).serialize(),
            success: function(result) {
                if (result.success) {
                    $('#deleteModal').modal('hide');
                    location.reload();
                }else {
                    alert("Can't delete")
                }
            }
        });
    });
</script>
