
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

body {
    background-color: rgb(175,225,175,0.4);
    }

/* The Category Modal (background) */
#categoryModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

    /* Category Modal Content/Box */
    #categoryModal .modal-content {
        background-color: #fefefe;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 400px; /* Adjust as needed */
    }

/* Close Button */
#closeModalCategory {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

    #closeModalCategory:hover {
        color: darkred;
    }

/* The Transaction Modal (background) */
#transactionModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

    /* Transaction Modal Content/Box */
    #transactionModal .modal-content {
        background-color: #fefefe;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 400px; /* Adjust as needed */
    }

/* Close Button */
#closeModalTransaction {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

    #closeModalTransaction:hover {
        color: black;
    }

#editTransactionModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

    /* Transaction Modal Content/Box */
    #editTransactionModal .modal-content {
        background-color: #fefefe;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 400px; /* Adjust as needed */
    }
#balance {
    border: 2px solid black;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#balanceTotal {
    margin-left: 5px;
    display: inline;
}