<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>To-do CRUD</title>
    <link rel="stylesheet" href="css/site.css" />
</head>
<body>
    <h1 class="display-4 text-center">Budget App</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center mt-3">
                <button class="btn-outline-success">Add Transaction</button>
            </div>
            <div class="col-md-6 text-center mt-3">
                <button class="btn-outline-success">Add Category</button>
            </div>
        </div>
    </div>
    <div id="transactionList"></div>

    <script src="js/site.js" asp-append-version="true"></script>
    <script type="text/javascript">getTransactions();</script>
</body>
</html>

