<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>To-do CRUD</title>
    <link rel="stylesheet" href="css/site.css" />
</head>
<body>
    <h1 class="display-4 text-center">Budget App</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center mt-3">
                <button class="btn-outline-success">Add Transaction</button>
            </div>
            <div class="col-md-6 text-center mt-3">
                <button class="btn-outline-success">Add Category</button>
            </div>
        </div>
    </div>
    <form action="javascript:void(0);" method="POST" onsubmit="addTransaction()">
        Add Transaction:<br>
        <input type ="date" id="add-date"><br />
        <input type ="text" id="add-source" placeholder="To/From">
        <input type ="text" id="add-amount" placeholder="amount"><br />
        <select id="add-selectedcategory" required> </select>
        <input type ="submit" value="Add">
    </form>
    <form action="javascript:void(0);" method="POST" onsubmit="addCategory()">
        Add Category:<br>
        <input type="text" id="add-categoryname" placeholder="Name">
        <input type="submit" value="Add">
    </form>
    <table id="transactionList">
        <thead>
            <tr>
                <th>Transaction ID</th>
                <th>Date</th>
                <th>Source</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>


    <script src="js/site.js" asp-append-version="true"></script>
    <script type="text/javascript">
        populateCategoriesDropMenu();
        getTransactions();
        </script>
</body>
</html>

