<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Budget App</title>
    <link rel="stylesheet" href="css/site.css" />
</head>
<body>
    <h1 class="display-4 text-center">Budget App</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center mt-3">
                <button id="openTransactionModal" class="btn-outline-success">Add Transaction</button>
            </div>
            <div class="col-md-6 text-center mt-3">
                <button id="openCategoryModal" class="btn-outline-success">Manage Categories</button>
            </div>
        </div>
    </div>
    <div><input type="text" id="searchTransactionName" placeholder="Search transactions" />
        <button onclick="searchOnTransactionName()">Search</button>
    </div>
    <div id="balance">Total balance: <span id="balanceTotal"></span></div>
    <table id="transactionList" class="mt-3" >
        <thead>
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Name</th>
                <th>Amount</th>
                <th>Category</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>


    <div id="transactionModal" class="modal">
        <div class="modal-content">
            <span class="btn-close" id="closeModalTransaction"></span>
            <form action="javascript:void(0);" method="POST" onsubmit="addTransaction()">
                Add Transaction:<br>
                Date: <input type="date" id="add-date"><br />
                Name: <input type="text" id="add-source" placeholder="To/From"><br />
                Amount: <input type="text" id="add-amount" placeholder="amount"><br />
                Category: <select id="add-selectedcategory" required> </select>
                <input type="submit" value="Add">
                <div id="error-message" style="color:red; display: none;"></div>
            </form>
        </div>
    </div>

    <div id="editTransactionModal" class="modal">
        <div class="modal-content">
            <form action="javascript:void(0);" method="post" onsubmit="editTransaction()">
                Edit Transaction:<br>
                Date: <input type="date" id="edit-date"><br />
                Name: <input type="text" id="edit-source"><br />
                Amount: <input type="text" id="edit-amount" ><br />
                Category: <select id="edit-selectedcategory" required> </select>
                <input type="submit" value="Save Changes">
                <div id="error-message-edit" style="color:red; display: none;"></div>
            </form>
        </div>
    </div>

    <div id="categoryModal" class="modal">
        <div class="modal-content">
            <div>
                What action would you like to do: <select id="categoryAction">
                    <option value="add-category">ADD</option>
                    <option value="edit-category">EDIT</option>
                    <option value="delete-category">DELETE</option>
                </select>
                <hr>
            </div>
    
            <div id="categoryModal-display">
                <form action="javascript:void(0);" method="POST" onsubmit="addCategory()">
                    Add Category: <br>
                    <input type="text" id="add-categoryname" placeholder="Name"><span class="btn-close" id="closeModalCategory"></span>
                    <input type="submit" value="Add Category">
                </form>
            </div>
        </div>
    </div>

    <script src="js/site.js" asp-append-version="true"></script>
    <script type="text/javascript">
        getTransactions();
        const addCategorySelect = document.getElementById('add-selectedcategory');
        populateCategoriesDropMenu(addCategorySelect, uriCategory);
    </script>
</body>
</html>

